/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}
.total-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 55px;
}
.emoji-image {
  width: 70px;
}
.list-item {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}
.emoji-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.love-image {
  width: 70px;
}
.love-heading {
  font-family: robot;
  font-size: 32px;
  font-weight: bold;
  color: #0f172a;
}
.description {
  font-family: roboto;
  color: #1e293b;
}
.second-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.heading {
  font-family: roboto;
  text-align: center;
  color: #0f172a;
}
